body{
    font-family: arial, sans-serif;
  }
  
a{
      padding-left: 10px;
      color: black;
      text-decoration: none;
    }
    
.navbarleft{
      display: flex;
      justify-content: flex-start;
      max-width: 50%;
      position: absolute;
    }
    
.navbarright{
      display: flex;
      justify-content: flex-end;
      width: 100%;
}
.logo{
      display: flex;
      justify-content: center;
     
    }
.fJOQGe{
      display: flex;
      padding-top: 50px;
      padding-left: 50px;
    }
.search{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.searchBar{
    display: flex;
    justify-content: center;
    overflow: auto;  
    width: 100%;
}
.inputsearch{
    display: flex;
    justify-content: center;  
    margin-right: 0;
    height: 34px;
    width: 50%;
    border-radius: 25px;
    
}
.inputsearch:hover{
    box-shadow: 1px 1px 3px #8888889f;
	border: solid 1px #8888889f;
	color: black;
}
.buttons{
      display: flex;
      justify-content: space-evenly;
      /*! padding:auto; */
      margin:auto;
      
    }
.youtube{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
  
.leftLinks{
  list-style: none;
  display: flex;
  max-width: 50%;
  justify-content: flex-start;
  position: absolute;
  margin-left: -40px;
}

.rightLinks{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}