a{
    padding-left: 10px;
  }
  
  .navbarleft{
    display: flex;
    justify-content: flex-start;
    max-width: 50%;
    position: absolute;
  }
  
  .navbarright{
    display: flex;
    justify-content: right;
  }
  .logo{
    display: flex;
    justify-content: center;
    margin; 15px;
  }
  .fJOQGe{
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
  }
  .search_bar{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
.searchBar{
  overflow: auto;
  width: 100%
}
  .buttons{
    display: flex;
    justify-content: space-evenly;
    /*! padding:auto; */
    margin:auto;
    
  }
.youtube{
  display: flex;
  justify-content: center;
  padding-top: -50px;
}

footer{
  position: absolute;
  border-top: thin;
  
}